@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body { background-color: #000000; color: #F3F4F6; font-family: 'JetBrains Mono', monospace; margin: 0; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #000000; }
::-webkit-scrollbar-thumb { background: #FF4500; }
